<h1>Tackling an open problem</h1>

For this homework the idea is to hone our skills on exploring and plotting a dataset. You can either work with the Pokemon dataset that was given or download your own. If you opt to download your own I recommend you use one of the datasets available on kaggle,

https://www.kaggle.com/datasets

As they tend to be found in a clean format and are generally free to use.

Largely, the main objective is learning how to search the internet for new implementations you want to use on your code helping you develop your self-confidence.

There's no right or wrong, pick a dataset you enjoy and try to have some fun.
If you need, use the notebook from the previous session as a guideline.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
billboard200_df = pd.read_csv(r"C:\Users\loisa\OneDrive\Coding\CODE Lancashire Python\archive\billboard200.csv", sep=',')

C:\Users\loisa\AppData\Local\Temp\ipykernel_17420\3436896478.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  billboard200_df = pd.read_csv(r"C:\Users\loisa\OneDrive\Coding\CODE Lancashire Python\archive\billboard200.csv", sep=',')

In [4]:
# first 5 entries
billboard200_df.head()

,Date,Song,Artist,Rank,Last Week,Peak Position,Weeks in Charts,Image URL
0,1963-08-14,Days Of Wine And Roses,Andy Williams,1,1,1,-,https://charts-static.billboard.com/img/1963/0...
1,1963-08-14,Little Stevie Wonder/The 12 Year Old Genius,Stevie Wonder,2,2,1,-,https://charts-static.billboard.com/img/1963/0...
2,1963-08-14,West Side Story,Soundtrack,3,3,1,-,https://charts-static.billboard.com/img/1963/0...
3,1963-08-14,(Moving),Peter| Paul & Mary,4,4,1,-,#
4,1963-08-14,Trini Lopez At PJ's,Trini Lopez,5,5,1,-,https://charts-static.billboard.com/img/1963/0...

In [6]:
# most recent 5 entries
billboard200_df.tail()

,Date,Song,Artist,Rank,Last Week,Peak Position,Weeks in Charts,Image URL
621452,2024-01-24,Evolve,Imagine Dragons,196,2,312,-,https://charts-static.billboard.com/img/2017/0...
621453,2024-01-24,2nd EP 'Get Up',NewJeans,197,176,1,26,https://charts-static.billboard.com/img/2023/0...
621454,2024-01-24,Fuck The World,Brent Faiyaz,198,20,33,-,https://charts-static.billboard.com/img/2020/0...
621455,2024-01-24,Greatest Hits,Creed,199,15,89,-,https://charts-static.billboard.com/img/2004/1...
621456,2024-01-24,Set It Off,Offset,200,187,5,11,https://charts-static.billboard.com/img/2023/1...

In [ ]:
# getting rid of the image URL column because it is not relevant
billboard200_df.drop(["Image URL"], axis=1, inplace=True)

In [19]:
# tried to look at artists who only appear in the Billboard200 once
billboard200_df['Artist'].unique()

array(['Andy Williams', 'Stevie Wonder', 'Soundtrack', ...,
       'Lil Durk & Various Artists', 'The Philly Specials',
       'Luis R Conriquez'], dtype=object)

In [20]:
# tried to look at songs that only appear once
billboard200_df['Song'].unique()

array(['Days Of Wine And Roses',
       'Little Stevie Wonder/The 12 Year Old Genius', 'West Side Story',
       ..., 'Orquideas', 'Insano', 'Mean Girls (2024)'], dtype=object)

In [30]:
# Something seemed wrong with the artists who only appear once, so I looked up how many times Stevie Wonder appears, since it tries to say only once.
desired_artist = 'Stevie Wonder'
(billboard200_df['Artist'] == desired_artist).sum()
# this gives the answer 984 so there is something wrong with the .unique() I wrote earlier

984

In [25]:
# looking at how many times each artist appears in the Billboard200
billboard200_df['Artist'].value_counts()

Artist
Soundtrack            25876
Various Artists       14775
The Beatles            3254
Drake                  2751
Taylor Swift           2676
                      ...
The Rentals               1
Greensky Bluegrass        1
P Reign                   1
N.A.S.A.                  1
Vestal Goodman            1
Name: count, Length: 10227, dtype: int64